# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
*.zip

# Testing & Coverage
coverage/
*.lcov
.nyc_output

# Environment & local credentials
.env
.env.local
.env.*.local
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cache directories
.cache/
.vite/
.eslintcache
.stylelintcache

# OS files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db

# IDE & Editor files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
